body {
  background-color: #121212 !important;
  color: #d87427 !important;
}

.whiteMode {
  background-color: #fff !important;
  color: #d87427 !important;
}

.bodyContainer a {
  display: inline-block;
  color: #d87427;
  text-decoration: none;
  cursor: pointer;
}

.section {
  height: 100vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 2.5vw;
}

.description {
  padding-top: 20vh;
  height: 50vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 11;
  position: relative;
}

.description h6 {
  font-weight: 100;
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 3.5vw;
}

.description h1 {
  font-weight: 500;
  font-size: 100px;
  margin-top: -5.5vh;
}

.description p {
  font-size: 30px;
  width: 40vw;
  margin-left: 5vw;
  text-shadow: 1px 1px 5px black;
}

.mainMenu {
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.issFeed {
  width: 95vw;
  height: 81vh;
}

.hidden {
  display: none !important;
}

.darkNav {
  background-color: #4d4d4d !important;
  box-shadow: 0 2px 10px 10px #262626;
}

.darkNav a {
  color: #d87427;
}

.darkNav a:hover {
  color: #278bd8;
}

.lightNav {
  background-color: #d87427 !important;
}

.lightNav a {
  color: #000;
}

.lightNav a:hover {
  color: #278bd8;
}

.facts,
.crew,
.liveFeed {
  padding-top: 8vh;
}

.crewCard {
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 50.5vh;
  overflow: hidden;
}

.lightCrew {
  border: 1px solid #af3939;
  background-color: #af3939;
  box-shadow: 5px 8px 8px #262626;
}

.darkCrew {
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  box-shadow: 5px 8px 8px #262626;
}

.crewInside {
  width: 14.9vw;
  text-align: center;
}

.crewName {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 700;
}

.crewTitle {
  margin-top: 10vh;
}

footer {
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 11;
}

.footer-dark {
  background-color: #4d4d4d;
}

.footer-dark a,
.footer-dark p {
  color: #d87427;
}

.footer-light {
  background-color: #d87427;
}

.footer-light a,
.footer-light p {
  color: #000;
}

footer p {
  width: 7vw;
  padding-top: 10px;
  right: 5px;
  position: absolute;
  display: inline-block;
}

.disclaimer {
	display: inline-block;
	width: 40vw;
	padding-top: 10px;
	left: 10px;
	position: relative;
	text-decoration: none;
}

.footerLink {
  display: inline-block;
  width: 5vw;
  padding-top: 10px;
  left: 10px;
  position: relative;
  text-decoration: none;
}

.footerLink:hover,
.watchLink:hover,
.CompanyLink:hover {
  color: #278bd8;
}

.watchLink {
  margin-left: 1vw;
}

.CompanyLink,
.watchLink {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

main {
  position: relative;
}

.image {
  width: 48vw;
}

/* Group pic crew */
.imageCrew {
  margin-top: -44%;
  margin-left: 36%;
  width: 40vw;
  position: relative;
}

/* Portraits of crew */
.crewImg {
  height: 43vh;
  width: auto;
}

.btn-outline-light {
  border: 1px solid #278bd8 !important;
}

.btn-outline-light:hover {
  border: 1px solid #278bd8 !important;
  background-color: #278bd8 !important;
}

.btn-outline-dark {
  border: 1px solid #d87427 !important;
}

.btn-outline-dark:hover {
  border: 1px solid #d87427 !important;
  background-color: #d87427 !important;
}

.navBrandHoverDark:hover {
  color: #d87427 !important;
}

.navBrandHover:hover {
  color: #000 !important;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #0d0d0d;
  border-bottom: none;
  background-color: #0d0d0d;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #1A1A1A;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #d87427;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #404040;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #262626;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #1A1A1A;
  border-top: none;
  height: 90%;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  background-color: #1A1A1A;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-down {
  text-align: center;
  margin-top: 50vh;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.vidLabel {
	bottom: 0;
	position: absolute;
	font-style: italic;
	font-size: 10px;
	opacity: 0.5;
}

.missionLabel {
	bottom: 35vh;
	position: absolute;
	font-style: italic;
	font-size: 10px;
	opacity: 0.5;
}

.crewLabel {
	bottom: 34vh;
	position: absolute;
	font-style: italic;
	font-size: 10px;
	opacity: 0.5;
	left: 51.8vw;
	rotate: -75deg;
}

.backgroundDiv {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}
